<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add databaseInstanceName="Logging Connection String" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" name="Database Trace Listener"/>
      <add toAddress="thomas.wetzlmaier@scch.at" fromAddress="thomas.wetzlmaier@scch.at" subjectLineStarter="&lt;&lt;&lt;" subjectLineEnder="&gt;&gt;&gt;" smtpServer="kairo.scch.at" smtpPort="25" formatter="Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" filter="Off" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" name="Email TraceListener"/>

      <add fileName="Stepper.Console.log" footer="" formatter="CSV Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" name="Combined Trace Listener"/>

      <add fileName="Scch.ModelBasedTesting.Stepper.Console.log" footer="" formatter="CSV Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" name="Debug Trace Listener"/>
      <add fileName="Scch.ModelBasedTesting.Stepper.Console.Error.log" footer="" formatter="CSV Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" name="Error Trace Listener"/>
      <add fileName="Scch.ModelBasedTesting.Stepper.Console.General.log" footer="****************************************" formatter="Text Formatter" header="****************************************" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" name="General Trace Listener"/>
      <add fileName="Scch.ModelBasedTesting.Stepper.Console.Performance.log" footer="" formatter="CSV Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" name="Performance Trace Listener"/>
      <add fileName="Scch.ModelBasedTesting.Stepper.Console.Security.log" footer="" formatter="CSV Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" name="Security Trace Listener"/>
      <add fileName="Scch.ModelBasedTesting.Stepper.Console.Sql.log" footer="" formatter="Sql Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" name="Sql Trace Listener"/>
      <add fileName="Scch.ModelBasedTesting.Stepper.Console.Trace.log" footer="****************************************" formatter="Text Formatter" header="****************************************" rollFileExistsBehavior="Overwrite" rollInterval="Day" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" name="Trace Trace Listener"/>
      <add RemoteHosts="localhost:1234" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" filter="All" type="Scch.Logging.UdpTraceListener.UdpTraceListener, Scch.Logging.UdpTraceListener, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="UDP Trace Listener" initializeData="" formatter="Text Formatter"/>
    </listeners>
    <formatters>
      <add template="{timestamp}; {category}; {priority}; {severity}; {eventid}; {title}; {message}; {machine}; {threadName}; {dictionary({key} - {value})}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" name="CSV Formatter"/>
      <add template="/* {timestamp} */&#xD;&#xA;{message}"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" name="Sql Formatter"/>
      <add template="{timestamp} - {category} - {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Debug">
        <listeners>
          <add name="Combined Trace Listener"/>
          <add name="Debug Trace Listener"/>
          <add name="UDP Trace Listener"/>
          <!--<add name="Database Trace Listener" />-->
        </listeners>
      </add>
      <add switchValue="All" name="Exception">
        <listeners>
          <add name="Combined Trace Listener"/>
          <!--<add name="Email TraceListener" /> -->
          <add name="Error Trace Listener"/>
          <!--<add name="Database Trace Listener" /> -->
          <add name="UDP Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Combined Trace Listener"/>
          <add name="General Trace Listener"/>
          <!--<add name="Database Trace Listener" />-->
        </listeners>
      </add>
      <add switchValue="All" name="Performance">
        <listeners>
          <add name="Performance Trace Listener"/>
          <!--<add name="Database Trace Listener" /> -->
        </listeners>
      </add>
      <add switchValue="All" name="Security">
        <listeners>
          <add name="Combined Trace Listener"/>
          <add name="Security Trace Listener"/>
          <!--<add name="Database Trace Listener" /> -->
        </listeners>
      </add>
      <add switchValue="All" name="Sql">
        <listeners>
          <add name="Combined Trace Listener"/>
          <add name="Sql Trace Listener"/>
          <!--<add name="Database Trace Listener" />-->
        </listeners>
      </add>
      <add switchValue="All" name="Trace">
        <listeners>
          <add name="Combined Trace Listener"/>
          <add name="Trace Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Error Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  
  <appSettings>
    <!--<add key="ModelType" value="Scch.AutoTest.MmiModel.BiegeProgrammModel, Scch.AutoTest.MmiModel"/>-->
    <add key="ModelType" value="Scch.AutoTest.MmiModel.TestModel, Scch.AutoTest.MmiModel"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>