<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add RemoteHosts="localhost:1234" Header="----------" Footer="----------" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" type="Scch.Logging.UdpTraceListener.UdpTraceListener, Scch.Logging.UdpTraceListener, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="UDP Trace Listener" initializeData="" formatter="Text Formatter"/>
    </listeners>
    <formatters>
      <add template="{timestamp}; {category}; {priority}; {severity}; {eventid}; {title}; {message}; {machine}; {threadName}; {dictionary({key} - {value})}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" name="CSV Formatter"/>
      <add template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Sql">
        <listeners>
          <add name="UDP Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Debug">
        <listeners>
          <add name="UDP Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Exception">
        <listeners>
          <add name="UDP Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="UDP Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Performance">
        <listeners>
          <add name="UDP Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Security">
        <listeners>
          <add name="UDP Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Trace">
        <listeners>
          <add name="UDP Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="UDP Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
</configuration>
